input {
    border-style: solid;
    border-color: #4d00ff;
    border-radius: 16px;
    min-width: 300px;
    padding-left: 10px;
    height: 50px;
    margin: 20px 0 0 0;
}

.flexRowVotingOptions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-content: space-between;
    margin: 64px;
}

.flexColumnVotingList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto 48px;
    width: 85%;
    max-width: 1600px;
}

.flexColumnVotingList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto 48px;
    width: 86%;
    max-width: 1600px;
}

@media (max-width: 575px) {
    .flexColumnVotingList {
        margin: 64px auto 64px;
    }
}

@media (max-width: 383px) {
    .flexColumnVotingList {
        margin: 50px auto;
    }
}

.heroTitleAvailableVoting {
    width: 100%;
    font: 400 48px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
    .heroTitleAvailableVoting {
        align-items: flex-start;
        font-size: 44px;
    }
}

@media (max-width: 479px) {
    .heroTitleAvailableVoting {
        font-size: 36px;
    }
}